<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Session 이용하기</h1>
<h2>HttpSesion을 매개변수로 선언하기</h2>
<form action="login" method="post">
ID:<input type="text" name="id"style="background-color: red"><br>
PW:<input type="text" name="pw" style="background-color: skyblue"><br>
  <button type="submit"style="background-color: darkgoldenrod">로그인</button>

  <h2>@SessionAttributes를 사용하기</h2>
  <form action="login2" method="post">
    ID:<input type="text" name="id"style="background-color: red"><br>
    PW:<input type="password" name="pw" style="background-color: skyblue"><br>
    <button type="submit"style="background-color: darkgoldenrod">로그인</button>
  </form>
</form>
</body>
</html>